@charset "utf-8";
/* CSS Document */

.A{
	margin-left:200px;
}
.B{
	width:800px;
	margin-left:200px;
	font-family:"楷体", "微软雅黑", "新宋体";
		margin-top:20px;
}
.C{
	width:800px;
	margin-left:200px;
	font-family:"楷体", "微软雅黑", "新宋体";

}
.D{
	margin-left:800px;
	font-family:"楷体", "微软雅黑", "新宋体";
	font-size:45px;
	color:#790000;
}
